<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Book</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
  <label for="title">Title book:</label>
  <input type="text" th:field="*{title}" id="title"/>
  <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</div>

  <br>

  <label for="author">Author:</label>
  <input type="text" th:field="*{author}" id="author"/>
  <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error</div>
  <br>

  <label for="release_date">Release date:</label>
  <input type="text" th:field="*{release_date}" id="release_date"/>
  <div style="color: red" th:if="${#fields.hasErrors('release_date')}" th:errors="*{release_date}">Error</div>
  <hr>

  <input type="submit" value="Confirm Edit Book"/>
</form>

</body>
</html>